### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_csv = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_csv)
purchase_data = pd.DataFrame(purchase_data, columns=['SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'])
purchase_data.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [101]:
PlayerCount = len(purchase_data["SN"].unique())
playercount_disp = pd.DataFrame({"Player Count":[PlayerCount]})
playercount_disp

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
unique_items = len((purchase_data['Item ID']).unique())
average_price = (purchase_data['Price']).mean()
total_purchases = (purchase_data['Item Name']).count()
total_revenue = (purchase_data['Price']).sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price": [average_price],
                                    "Total Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]}),
purchasing_analysis

(   Number of Unique Items  Average Price  Total Purchases  Total Revenue
 0                     183       3.050987              780        2379.77,)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [56]:
gender_stats = purchase_data.groupby("Gender")
total_count_gender = gender_stats.nunique()["SN"]
percentage_of_players = total_count_gender / PlayerCount * 100
demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count":total_count_gender})

demographics

                       Percentage of Players  Total Count
Gender
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
purchase_count = gender_stats["Item Name"].count()

avg_purchase_price = gender_stats["Price"].mean()

avg_purchase_total = gender_stats["Price"].sum()

avg_purchase_per_person = avg_purchase_total/total_count_gender

demographics = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": avg_purchase_price,
                            "Average Purchase Total Per Person": avg_purchase_per_person})
demographics.index.name = "Gender"

demographics

,Purchase Count,Average Purchase Price,Average Purchase Total Per Person
Gender,,,
Female,113,3.203009,4.468395
Male,652,3.017853,4.065372
Other / Non-Disclosed,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [63]:
age_bins = [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()

percentage_by_age = (total_count_age/PlayerCount) * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

age_demographics

           Percentage of Players  Total Count
Age Group
<10                     2.951389           17
10-14                   3.819444           22
15-19                  18.576389          107
20-24                  44.791667          258
25-29                  13.368056           77
30-34                   9.027778           52
35-39                   5.381944           31
40+                     2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [96]:
purchase_count_age = age_grouped["Item Name"].count()

avg_purchase_price_age = age_grouped["Price"].mean()

total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                "Average Purchase Price":avg_purchase_price_age,
                                "Total Purchase Value":total_purchase_value,
                                "Average Purchase Total per Person": avg_purchase_per_person_age})
age_demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
spender_stats = purchase_data.groupby("SN")

purchase_count_spender = spender_stats["Item Name"].count()

avg_purchase_price_spender = spender_stats["Price"].mean()

purchase_total_spender = spender_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                            "Average Purchase Price": avg_purchase_price_spender,
                            "Total Purchase Value": purchase_total_spender})



spenders_formatted = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)

top_spenders.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_stats = items.groupby(["Item ID", "Item Name"])

purchase_count_item = item_stats["Price"].count()

purchase_value = (item_stats["Price"]).sum()

item_price = purchase_value/purchase_count_item

most_popular = pd.DataFrame({"Purchase Count": purchase_count_item,
                            "Item Price": item_price,
                            "Total Purchase Value": purchase_value})
popular_formatted = most_popular.sort_values("Purchase Count",
                                             ascending=False)

most_popular.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [97]:
popular_formatted = most.popular.sort_values(["Total Purchase Value"],
                                            ascending=false.head(5)
                                             
popular_formatted.head(5)

SyntaxError: invalid syntax (<ipython-input-97-9039bdaba134>, line 4)